.image {
  width: 500px;
  object-fit: cover;
}

.thumbimage {
  width: 100px;
  object-fit: cover;
}

.content {
  display: flex;
  gap: 1rem;
}

.description {
  width: 500px;
}

article {
  margin: 1rem;
  font-family: Roboto, sans-serif;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}